/* ======================================================= */
/* Import font text */
/* ======================================================= */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');
/* ======================================================= */
/* 1. Aici sunt partile principale + header */
/* ======================================================= */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:"wdth" 100;
  background-color: #DDD6CE;
  line-height: 1.6;
  /* background-image: url("./pictures-for-website/background\ for\ website.avif");
  background-size: cover;
  background-position: center; */

}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

.header{
    background: #ff6f61;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.header h1{
    margin: 0;
    font-size: 2.5em;
}


/* ======================================================= */
/* 2. Navbar */
/* ======================================================= */

.navbar {
      width: 100%;
      position: fixed; 
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Libre Baskerville", serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-size: 13px;
      font-style: normal;
      background-color: rgba(0, 0, 0, 0.3); 
      color: white;
      z-index: 1000;
      transition: background-color 0.3s ease;
    }

.navbar.scrolled {
      background-color: rgba(0, 0, 0, 0.7);
    }

.navbar a{
    color: #fffdfd;
    padding: 7px 10px;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.navbar .nav-links .nav-link:hover{
    background: #9D9760;
    color: #fff;
    border: 1px solid #fff;
    transform: scale(1.10);
}

.navbar .nav-links .logo img:hover{
    transform: scale(1.05);
}

.navbar .nav-links{
  display: flex;
  align-items: center;
  gap: 20px;

}

.navbar .nav-links li{
  display: flex;
  list-style: none;
}

.navbar .nav-links .logo img{
  height: 100px;         
  width: auto;           
  object-fit: contain;
  margin: 0 100px;
}

/* ======================================================= */
/* 3. Social Media Fixed Sidebar */
/* ======================================================= */

.social-fixed-sidebar {
    position: fixed; 
    left: 15px; 
    top: 50%; 
    transform: translateY(-50%); 
    z-index: 990; 
    display: flex; 
    flex-direction: column;
    gap: 15px; 
}

.social-fixed-sidebar .social-icon {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 45px; 
    height: 45px; 
    text-decoration: none;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    transition: transform .3s ease;
    border: 1px solid #000;
}


.social-fixed-sidebar .social-icon i {
    color: #000;
    font-size: 20px;
    position: relative;
    z-index: 2;
    transition: color .3s ease;
}


.social-fixed-sidebar .social-icon:hover{
    border: 2px solid #fff;
}

.social-fixed-sidebar .social-icon::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0%;
    bottom: 0;
    left: 0;
    background: transparent;
    z-index: 1;
    transition: height 1s ease;
}



.social-fixed-sidebar .social-icon:hover i {
    color: #fff;
    font-size: 20px;
    animation: rotate 1s linear;  
}    
    @keyframes rotate {
        0% {
            transform: rotateY(0deg);
        }
        25% {
            transform: rotateY(90deg);
        }
        50% {
            transform: rotateY(180deg);
        }
        75% {
            transform: rotateY(240deg);
        }
        100% {
            transform: rotateY(360deg);
        }
    }


.social-fixed-sidebar .social-instagram:hover::before {
    height: 100%;
    transform: scale(1.1);
    background: linear-gradient(
        0deg,
        #fdf497 0%,  
        #fd5949 40%,  
        #d6249f 65%,   
        #285AEB 100%
    );
}



.social-fixed-sidebar .social-facebook:hover::before {
    height: 100%;
    background-color: #1877F2; 
    transform: scale(1.1);
}

.social-fixed-sidebar .social-tiktok:hover::before {
    height: 100%;
    background-color: #000;
    transform: scale(1.1); 
}

.social-fixed-sidebar .social-whatsapp:hover::before {
    height: 100%;
    background-color: #25D366; 
    transform: scale(1.1);
}


/* ======================================================= */
/* 4. Hero Section */
/* ======================================================= */

.hero {
  height: 100vh; 
  background: url('pictures-for-website/Hero-ImageT.jpg') no-repeat center 40% / cover;
  position: relative;
  padding-top: 70px; 
  background-color: #1a1a1a;
}


.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); 
  z-index: 1;
}

.hero-content {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 2;
  /* max-width: 800px; */
  padding: 0 20px;
}


.hero-content h1 {
  font-size: 2.8rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  max-width: 1500px;
}

.hero-content span {
   font-family: "Libre Baskerville", serif;
   margin-bottom: 30px;
   color: #E4DED8
}


.btn-hero {
  background: #9D9760;
  color: #fff;
  padding: 0.8rem 1.8rem;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 500;
  transition: background 0.8s ease;
}

.btn-hero:hover {
  background: #36241A;
  border: 2px solid #fff;
  transform: scale(1.15);
}

/* ======================================================= */
/* 5. Motto Section */
/* ======================================================= */


#motto{
  max-width: 1200px;
  margin: 50px auto;
  padding: 30px 100px;
  /* background-color: #DDD6CE; */
  border-radius: 20px;
}

.motto-greeting{
    text-align: center;
    font-size: 72px;
    font-weight: 400;
    margin-bottom: 30px;
    color: #000;
}

.motto-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    padding: 30px 60px;
    background-color: #B9AD97;
    border-radius: 20px;
    position: relative;
    /* box-shadow: 0 0 10px 5px #B9AD97; */
}

.motto-image img{
    width: 100%;
    height: auto;
    border-radius: 30px;
    object-fit: cover;
    /* box-shadow: 0 0 10px 5px #737373; */
    box-shadow: 10px 10px 5px rgb(109, 106, 106);
}

.motto-text h1{
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
    color: #000;
}


.motto-text h2{
    font-size: 20px;
    line-height: 1.5;
    text-align: left;
    color: #000;
}

.fake-legend-motto img{
  position: absolute;
  top: -35px;
  left: 5%;
  padding: 0 10px;
  display: flex;
  width: 120px;
  height: 90px;
}

/* ======================================================= */
/* 5. Scrool Indicator */
/* ======================================================= */

/* ======================================================= */
/* 6. Obietiv Section */
/* ======================================================= */


#obiectiv{
  max-width: 1200px;
  margin: 50px auto;
  padding: 30px 100px;
  background-color: #DDD6CE;
  border-radius: 20px;
}

.obiectiv-greeting{
    text-align: center;
    font-size: 72px;
    font-weight: 400;
    margin-bottom: 30px;
    color: #000;
}

.obiectiv-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    padding: 30PX;
    background-color: #B9AD97;
    border-radius: 20px;
    /* box-shadow: 0 0 10px 5px #B9AD97; */
}

.obiectiv-image img{
    width: 100%;
    height: auto;
    border-radius: 30px;
    object-fit: cover;
    /* box-shadow: 0 0 10px 5px #737373; */
    box-shadow: 10px 10px 5px rgb(109, 106, 106);
}

.obiectiv-text h1{
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    color: #000;
}


.obiectiv-text h2{
    font-size: 20px;
    line-height: 1.5;
    text-align: left;
    color: #000;
}

.fake-legend-obiectiv img{
  position: absolute;
  top: -35px;
  right: 5%;
  padding: 0 10px;
  display: flex;
  width: 120px;
  height: 90px;
}


/* ======================================================= */
/* 7. Column Section */
/* ======================================================= */

#scrollTopBtn{
    text-align: right;
    margin-right: 40px;
    margin-top: 150px;   
    }

#scrollTopBtn button{
    border: none;
    text-align: center;
    background-color: #a9a0a0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#scrollTopBtn i{
    color: #575151;
}

#scrollTopBtn button:hover{
    background-color: #8b8484;
    cursor: pointer;
}



/* ======================================================= */
/* 8.  data-aos animation */
/* ======================================================= */


[data-aos] {
  transition-property: opacity !important;
}


/* ======================================================= */
/* 8.  Footer */
/* ======================================================= */

.footer {
    background-color: #36241A;
    color: #fff;
    margin-top: 50px;
    position: relative;
}

.footer .footer-logo img{
    height: 120px;         
    width: auto;       
    object-fit: contain;
    margin: 50px 90px;
}


.fake-legend img{
  position: absolute;
  top: -35px;
  left: 50%;
  padding: 0 10px;
  display: flex;
  width: 120px;
  height: 90px;
}